body {
  font-size: 14px;
  overflow-x: hidden;
  background: #D8D8D8;
/*  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), color-stop(7%, white), color-stop(7%, rgba(204, 204, 204, 0.8)), color-stop(8%, rgba(238, 238, 238, 0.92)), to(rgba(238, 238, 238, 0.9))), url(http://previews.123rf.com/images/egorzem/egorzem1502/egorzem150200017/36422240-Abstract-3d-geometric-background-White-seamless-texture-with--Stock-Photo.jpg);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), white 7%, rgba(204, 204, 204, 0.8) 7%, rgba(238, 238, 238, 0.92) 8%, rgba(238, 238, 238, 0.9)), url(http://previews.123rf.com/images/egorzem/egorzem1502/egorzem150200017/36422240-Abstract-3d-geometric-background-White-seamless-texture-with--Stock-Photo.jpg);
*/
}
body header {
  text-align: center;
}
body header .grad-over {
  font-size: 3em;
  font-weight: bold;
  position: relative;
  display: inline-block;
  text-shadow: 2px 2px 2px #fff;
  overflow: hidden;
}
body header .grad-over:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(darkorange), to(mediumvioletred));
  background: linear-gradient(90deg, darkorange, mediumvioletred);
  top: 0;
  left: 0;
  mix-blend-mode: screen;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}
body header .grad-over:hover:after {
  left: -100%;
}
body #timeline-wrapper .timeline-top {
  text-align: center;
}
body #timeline-wrapper .timeline-top .top-year {
  display: inline-block;
  width: 140px;
  height: 80px;
  border-radius: 40px;
  background-color: #03a9f4;
  color: #fff;
  line-height: 80px;
  text-align: center;
  font-size: 2.8rem;
}
body #timeline-wrapper .timeline-top .top-year > span {
  font-size: 3rem;
}
body #timeline-wrapper .timeline-block {
  width: 100%;
  height: auto;
  position: relative;
}
body #timeline-wrapper .timeline-block:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #03a9f4;
  left: 50%;
  top: 0;
  margin-left: -2px;
}
body #timeline-wrapper .timeline-block .timeline-events .l-event {
  float: left;
  position: relative;
}
body #timeline-wrapper .timeline-block .timeline-events .l-event .thumb {
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
body #timeline-wrapper .timeline-block .timeline-events .l-event:before, body #timeline-wrapper .timeline-block .timeline-events .l-event:after {
  position: absolute;
  content: '';
  color: #333;
  width: 40px;
  height: 40px;
  background: #fff;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  border-radius: 20px;
  z-index: 4;
  top: 50%;
  right: 0;
}
body #timeline-wrapper .timeline-block .timeline-events .l-event:after {
  width: 60px;
  height: 60px;
  z-index: 3;
  border-radius: 30px;
  background: #03a9f4;
}
body #timeline-wrapper .timeline-block .timeline-events .l-event .event-body:before {
  position: absolute;
  content: '';
  color: #333;
  width: 16px;
  height: 16px;
  background: #fff;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
          transform: rotate(45deg) translate(-50%, -50%);
  border-radius: 3px;
  top: 50%;
  right: -8px;
}
body #timeline-wrapper .timeline-block .timeline-events .r-event {
  float: right;
  position: relative;
}
body #timeline-wrapper .timeline-block .timeline-events .r-event .thumb {
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
body #timeline-wrapper .timeline-block .timeline-events .r-event:before, body #timeline-wrapper .timeline-block .timeline-events .r-event:after {
  position: absolute;
  content: '';
  color: #333;
  width: 40px;
  height: 40px;
  background: #fff;
  color: #333;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 20px;
  top: 50%;
  left: 0px;
  z-index: 4;
}
body #timeline-wrapper .timeline-block .timeline-events .r-event:after {
  width: 60px;
  height: 60px;
  z-index: 3;
  border-radius: 30px;
  background: #03a9f4;
}
body #timeline-wrapper .timeline-block .timeline-events .r-event .event-body {
  float: right;
}
body #timeline-wrapper .timeline-block .timeline-events .r-event .event-body:before {
  position: absolute;
  content: '';
  color: #333;
  width: 16px;
  height: 16px;
  background: #fff;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
          transform: rotate(45deg) translate(-50%, -50%);
  border-radius: 3px;
  top: 50%;
  left: -8px;
}
body #timeline-wrapper .timeline-block .event {
  min-height: 100px;
  background: none;
  position: relative;
  box-shadow: 0px 40px 14px -35px #ccc,0px -40px 14px -35px #ccc;
  margin-top: 20px;
}
body #timeline-wrapper .timeline-block .event .thumb {
  font-size: 30px;
  position: absolute;
  top: 50%;
  color: #333;
  z-index: 5;
}
body #timeline-wrapper .timeline-block .event .event-body {
  background-color: #fff;
  min-height: 100px;
  border-radius: 5px;
  padding: 5px 10px;
  width: 90%;
  position: relative;
  border: 1px solid #eee;
}
body #timeline-wrapper .timeline-block .event .event-body .person-image {
  display: inline-block;
  text-align: left;
  width: 20%;
  height: 100%;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px dashed #eee;
}
body #timeline-wrapper .timeline-block .event .event-body .person-image img {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  body #timeline-wrapper .timeline-top {
    text-align: right;
    padding-right: 20%;
  }
  body .timeline-block {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #eee;
  }
  body .timeline-block:after {
    content: "";
    position: absolute;
    height: 100%;
    background-color: #333;
    left: 5%;
    top: 0;
    margin-left: -3px;
    display: none;
  }
  body .timeline-block .r-event .event-body:after {
    content: '';
    position: absolute;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: #03a9f4;
    left: -30%;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #fff;
  }
  body .timeline-block .l-event .event-body:after {
    content: '';
    position: absolute;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: #03a9f4;
    right: -30%;
    border-radius: 3px;
    box-shadow: -1px 1px 1px #fff;
  }
}
body .footer-up {
  bottom: 0;
}
body footer {
  background: #fff;
  padding: 10px 0;
  border-top: 1px solid #eee;
  -webkit-transition: bottom 1s ease-in-out;
  transition: bottom 1s ease-in-out;
  position: fixed;
  width: 100%;
  bottom: -100%;
  left: 0;
  z-index: 9;
}
body footer a {
  padding: 5px;
}
body .social {
  color: #999;
  letter-spacing: 1px;
}
body .social i {
  background: #eee;
  color: #777;
  padding: 5px;
  border-radius: 50%;
}
body .social i:hover {
  color: #111;
}
body .social .follow {
  -webkit-animation: light 0.8s ease-in-out infinite forwards;
          animation: light 0.8s ease-in-out infinite forwards;
}
@-webkit-keyframes light {
  to {
    color: #111;
  }
}
@keyframes light {
  to {
    color: #111;
  }
}
#right
{
    position:absolute;
    right:0px;
}
.navbar {
  background: #fff;
  border-color: transparent;
  background-color: #03a9f4;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar li { color: #000 }

.profile {
  margin-top: 50px;
  margin-bottom: 20px;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 5px 0 5px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 900px;
}

a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
}
.dashboard-stat, .portlet {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.portlet {
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0;
  border-radius: 4px;
}
.portlet.bordered {
  border-left: 2px solid #e6e9ec!important;
}
.portlet.light {
  padding: 12px 20px 15px;
  background-color: #fff;
}
.portlet.light.bordered {
  border: 1px solid #e7ecf1!important;
}
.list-separated {
  margin-top: 5px;
  margin-bottom: 5px;
}
.profile-stat {
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f4f7;
}
.profile-stat-title {
  color: #7f90a4;
  font-size: 25px;
  text-align: center;
}
.uppercase {
  text-transform: uppercase!important;
}

.profile-stat-text {
  color: #5b9bd1;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}
.profile-desc-title {
  color: #7f90a4;
  font-size: 17px;
  font-weight: 600;
}
.profile-desc-text {
  color: #7e8c9e;
  font-size: 14px;
}
.margin-top-20 {
  margin-top: 20px!important;
}
[class*=" fa-"]:not(.fa-stack), [class*=" glyphicon-"], [class*=" icon-"], [class^=fa-]:not(.fa-stack), [class^=glyphicon-], [class^=icon-] {
  display: inline-block;
  line-height: 14px;
  -webkit-font-smoothing: antialiased;
}
.profile-desc-link i {
  width: 22px;
  font-size: 19px;
  color: #abb6c4;
  margin-right: 5px;
}
.btn-load{
  width: 100%;
}
footer {
  position: fixed;
  height: 30px;
  bottom: 0;
  width: 100%;
}
/* Profile Content */
.search-content {
  padding-left: 20px;
  padding-right: 20px;
  min-height: 800px;
}

.search-content-list {
  background: #fff;
  padding: 20px;
  min-height: 200px;
  margin-bottom: 25px;
}
.search-content-header {
  background: #fff;
  padding: 20px;
  margin-bottom: 25px;
  text-align: center;
}
.text-name{
  padding-left: 15px;
  font-size: 15px;
}
.social-list{
  padding-left: 0px;
}
.social-row{
  margin-top: 20px;
}
.text-social{
  margin-left: -5px;
  font-size: 18px;
}
.social-desc-text {
  color: #5b9bd1;
  font-size: 14px;
}
.social-desc-text2 {
  color: #000;
  font-size: 18px;
  border: #999;
  border-width: medium;
}
.header-search-list{
  margin-top: -15px;
}
.text-found{
  font-size: 18px;
  font-weight: 400;
}
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}
/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.handled-by{
  display: block;
  margin-top: 10px;
  font-size: 12px;
}


#wrapper {
  margin-top: 31px;
  padding-right: 400px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-right: -400px;
  right: 400px;
  width: 400px;
  position: fixed;
  overflow: hidden;
  height: 100%;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  display: flex;
  flex-flow: column;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width:767px) {
  #wrapper {
    padding-left: 0;
  }
  #sidebar-wrapper {
    left: 0;
  }
  #wrapper.active {
    position: relative;
    left: 250px;
  }
  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }
}

.form-side{
  padding: 10px 15px;
}

.txt-side{
  color: #5b9bd1;
}

.panel-body
{
    height: 100%;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

/* ::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #8C7B6C;
} */

.panel-heading {
  color: #fff;
  background-color: #03a9f4;
  border-color: #03a9f4;
}
.panel-heading-cdx {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  color: #fff;
  background-color: #03a9f4;
  border-color: #03a9f4;
  margin-top: 15px;
}

.chat-sidebar {
  background: #fff;
}
.subject-font{
  font-size: 16px;
}

.phone-list{
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.mapping-list{
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.phone-search{
  padding: 10px;

}

.phone-data{
  padding-top: 5px;
  padding-bottom: 5px;
}

#modalEmailContent{
  white-space: pre-wrap;
}

.conversation-subject-font{
  font-weight: 500;
}
.conversation-subject{
  margin-top: 15px;
}






